:root {
    --charcoal: #222222;
    --off-white: #f5f5f5;
    --gold: #ccaa77;
    --black: black
}

* {
    box-sizing: border-box;
    /* overflow: hidden; */
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;

    background: linear-gradient(
        0deg,
        var(--charcoal),
        black
    );
}

body {
    margin: 0;
    padding: 0;
    height: 200vh;
    width: 100%;
}

/* UTILITY CLASSES */

.header {
    font-size: 3rem;
}

.gold {
    color: var(--off-white);
} .gold:hover {
    color: var(--gold);
}

.txt-c {
    text-align: center;
}

.txt-r {
    text-align: right;
}

.txt-l {
    text-align: left;
}

.nofont {
    font-family: none;
}


/* NAVBAR */

.navbar {
    display: flex;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
    place-content: center;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.815),
        rgba(0, 0, 0, 0.815)

    );
}

.nav-links {
    display: flex;
    gap: 3rem;
    font-size: 2.5rem;
    color: whitesmoke;
    justify-content: center;

}   .nav-item a {
    color: whitesmoke;
    text-decoration: none;
}

.nav-item a:hover {
    color: var(--gold);
}


/* SOCIAL SIDEBAR */


.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: fit-content;
    width: 50px;
    padding: 12px 0px;
    background: var(--charcoal);  
    border-radius: 7px;
    top: 0%;
    bottom: 0%;
    right: 1%;
    margin: auto;
    box-shadow: 0 0 15px var(--gold);
    z-index: 2;
    transition: all 0.3s ease-in-out;

} .socials:hover {
    box-shadow: 0 0 30px var(--gold);

}

.social-item, .social-item a {
    font-size: 3rem;
    color: var(--off-white);
} .social-item:hover, .social-item a:hover {
    color: var(--gold);
}



.demacation {
    height: 1px;
    width: 36px;
    background: var(--off-white);
    margin: -10px 0px -10px 0px;
}


/* HAMBURGER MENU */
.menu-toggle input {
    display: none;
}

.menu-toggle label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}  .menu-toggle label:hover span {
    border: 2px solid var(--gold);
}


.menu-toggle span {
    width: 25px;
    border: 2px solid var(--off-white);
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in-out;

}
.menu-toggle span:nth-child(1) {
    transform: rotate(45deg);
    /* border: 2px solid var(--gold); */
}


.menu-toggle span:nth-child(3) {
    transform: rotate(-45deg);
    /* border: 2px solid var(--gold); */
}


/* MAIN CONTENT */

.main {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        0deg,
        var(--charcoal),
        black
    );
}

#welcome-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--off-white);
    animation: rotate 7s linear infinite;
}

#welcome-section h1 {
    font-size: 5rem;
    font-family: monospace;
    animation: rotate 3s linear infinite;
} 

/* Overflow Toggle Handler */

#overflow-toggle:checked .main {
    overflow: hidden;
}

@keyframes rotate {
  

}

#welcome-section p {
    font-size: 3rem;
}


/* PROJECTS */

.project-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr 1fr;
    height: 100vh;
    width: 100%;
    /* border: 1px solid var(--gold); */
    z-index: 100;
    align-items: center;
}

    .project-section h1 {
        font-size: 5rem;
        font-family: monospace;
        color: whitesmoke;
    }




.projects{
    display: grid;
    padding: 30px;
    width: 100%;
    border-radius: 7px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    place-content: center;
    transition: all 0.5s ease;
    z-index: 0;
}

/* Project Tiles */

.project-tile {
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 400px;
    background: var(--charcoal);
    border: 1px solid var(--gold);
    border-radius: 7px;
    margin: auto;

} .project-tile img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 7px; 

}
.project-tile p {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: white;
}

/* Project Description */

.project-description {
    background-color: #222222;
    height: 40%;
    width: 100%;
    padding: 10px;
}

/* Footer */

#footer {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;
    grid-template-rows: 2fr 1fr;
    height: fit-content;
    width: 100%;
    padding: 30px;
    background-color: var(--black);
    color: var(--off-white);
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    /* border: 1px solid var(--gold); */
}

#footer section {
    height: 200px;
    width: 250px;
}

#footer .contact-me {
    grid-column: 2 / 3;
}

#footer a {
    /* display: flex; */
    color: var(--off-white);
    text-decoration: none;
    font-size: 1.5rem;
}


#footer p {
    grid-row: 2;
    grid-column: 1 / -1;
    /* padding: 0 50px; */
}

@keyframes slideInfromLeft {
    10% {
        /* left: -90%; */
    }

    50% {
        left: 0%;
    }
}




/* MOBILE */

/* @media (max-width: 768px) {
    body {
        padding: 0px 10px;
    }

    .intro-text {
        margin-top: 200px;
    }

    .navbar {
        display: block;
        flex-direction: column;
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        z-index: 2;
        margin: 0px auto;
        padding: 0px 7px;
        width: 90%;
        max-height: 60px;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: whitesmoke;
    }

    .temi {
        margin: 18px 0px 10px 0px;
        font-size: x-large;
    }

    .links {
        display: flex;
        flex-direction: column;
        list-style: none;
        left: 0;
        right: 0;
        margin: 0px auto;
        width: 100%;
        height: fit-content;
        padding: 10px;
        background-color: whitesmoke;
        
    } .links span {
        display: flex;
        border: 1px solid black;
        width: 100%;
        height: 40px;
        
    } .links a {
        text-decoration: none;
        color: black;
        font-size: large;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: space-between;
        top: 50px;
        right: 40px;
        height: 18px;
        z-index: 2;
        cursor: pointer;
        
    } .menu span {
        display: block;
        height: 2px;
        border: 1px solid black;
        width: 25px;
        transition: 0.3s ease;
    }

    .menu-toggle {
        display: none;
    }

    .menu-toggle:checked + .menu span:nth-child(1) {
        transform: rotate(45deg) translateY(11px);
        margin-left: 15px;
    }

    .menu-toggle:checked + .menu span:nth-child(2) {
        opacity: 0;
        margin-left: 10px;
    }

    .menu-toggle:checked + .menu span:nth-child(3) {
        transform: rotate(-45deg) translateY(-11px);
        margin-left: 15px;
    }

    .menu-toggle:checked + .navbar {
        height: fit-content;
        background-color: red;
        overflow: unset;
    }

    


    .contact {
        display: block;
    }

    .contact-form {
        display: block;
    }

    input {
        display: block;
    }

    textarea {
        max-width: 300px;
    }
    
} */

